
@{
    ViewBag.Title = "ShowAll";
}
    
<div class="container">

    <div id="TableContainer">
        @{

            Html.RenderAction("Index");

        }
    </div>

    <hr />

    <div id="actionContainer">


    </div>


</div>

